.sidebar {
  display: flex;
  flex-direction: column;
  width: 80px; 
  height: 100vh; 
  background-color: #f2f5fb; 
  align-items: center; 
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
  position: fixed; 
  top: 80px;
  left: 0; 
  padding-top: 20px;
}
  
  .menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;
  }
  
  .menu-item span {
    font-size: 14px;
    color: #000046; 
    margin-top: 10px;
  }
  
  .icon {
    width: 30px;
    height: 30px;
  }
  
  .profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto; 
  }
  
  .profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-section span {
    font-size: 14px;
    color: #000046; 
  }
  